binds {

    // Mod+WheelScrollRight      { focus-column-right; }
    // Mod+WheelScrollLeft       { focus-column-left; }
    // Mod+Ctrl+WheelScrollRight { move-column-right; }
    // Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    // Usually scrolling up and down with Shift in applications results in
    // horizontal scrolling; these binds replicate that.
    // Mod+Shift+WheelScrollDown      { focus-column-right; }
    // Mod+Shift+WheelScrollUp        { focus-column-left; }
    // Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    // Mod+Ctrl+Shift+WheelScrollUp   { move-column-left; }

    // Similarly, you can bind touchpad scroll "ticks".
    // Touchpad scrolling is continuous, so for these binds it is split into
    // discrete intervals.
    // These binds are also affected by touchpad's natural-scroll, so these
    // example binds are "inverted", since we have natural-scroll enabled for
    // touchpads by default.
    // Mod+TouchpadScrollDown { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02+"; }
    // Mod+TouchpadScrollUp   { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.02-"; }

    // You can refer to workspaces by index. However, keep in mind that
    // niri is a dynamic workspace system, so these commands are kind of
    // "best effort". Trying to refer to a workspace index bigger than
    // the current workspace count will instead refer to the bottommost
    // (empty) workspace.
    //
    // For example, with 2 workspaces + 1 empty, indices 3, 4, 5 and so on
    // will all refer to the 3rd workspace.
    // Mod+1 { focus-workspace 1; }
    // Mod+2 { focus-workspace 2; }
    // Mod+3 { focus-workspace 3; }
    // Mod+4 { focus-workspace 4; }
    // Mod+5 { focus-workspace 5; }
    // Mod+6 { focus-workspace 6; }
    // Mod+7 { focus-workspace 7; }
    // Mod+8 { focus-workspace 8; }
    // Mod+9 { focus-workspace 9; }
    // Mod+Ctrl+1 { move-column-to-workspace 1; }
    // Mod+Ctrl+2 { move-column-to-workspace 2; }
    // Mod+Ctrl+3 { move-column-to-workspace 3; }
    // Mod+Ctrl+4 { move-column-to-workspace 4; }
    // Mod+Ctrl+5 { move-column-to-workspace 5; }
    // Mod+Ctrl+6 { move-column-to-workspace 6; }
    // Mod+Ctrl+7 { move-column-to-workspace 7; }
    // Mod+Ctrl+8 { move-column-to-workspace 8; }
    // Mod+Ctrl+9 { move-column-to-workspace 9; }

    // Alternatively, there are commands to move just a single window:
    // Mod+Ctrl+1 { move-window-to-workspace 1; }

    // Switches focus between the current and the previous workspace.
    // Mod+Tab { focus-workspace-previous; }

    // Expand the focused column to space not taken up by other fully visible columns.
    // Makes the column "fill the rest of the space".
    // Mod+Ctrl+F { expand-column-to-available-width; }

    // Center all fully visible columns on screen.
    // Mod+Ctrl+C { center-visible-columns; }


    // Actions to switch layouts.
    // Note: if you uncomment these, make sure you do NOT have
    // a matching layout switch hotkey configured in xkb options above.
    // Having both at once on the same hotkey will break the switching,
    // since it will switch twice upon pressing the hotkey (once by xkb, once by niri).
    // Mod+Space       { switch-layout "next"; }
    // Mod+Shift+Space { switch-layout "prev"; }

    // Alt+Shift+Tab cooldown-ms=200  { focus-column-left; }
    // Alt+Tab  cooldown-ms=200 { focus-column-right; }

    // Consume one window from the right to the bottom of the focused column.
    //Mod+Comma  { consume-window-into-column; }
    // Expel the bottom window from the focused column to the right.
    // Mod+Period { expel-window-from-column; }

}