binds {
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "swayosd-client --output-volume 2"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "swayosd-client --output-volume -2"; }

    XF86AudioMute        allow-when-locked=true { spawn-sh "swayosd-client --output-volume mute-toggle"; }
    // this doesn't seem to work..
    // XF86AudioMicMute     allow-when-locked=true { spawn-sh "swayosd-client --input-volume mute-toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    XF86AudioPlay        allow-when-locked=true { spawn-sh "swayosd-client --playerctl play-pause"; }
    XF86AudioStop        allow-when-locked=true { spawn-sh "swayosd-client --playerctl stop"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "swayosd-client --playerctl previous"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "swayosd-client --playerctl next"; }

    XF86MonBrightnessUp allow-when-locked=true { spawn-sh "swayosd-client --brightness +10"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn-sh "swayosd-client --brightness -2"; }
}