binds {
    Mod+F1 hotkey-overlay-title="[Manual]" { show-hotkey-overlay; }

    // Suggested binds for running programs: terminal, app launcher, screen locker.
    //Mod+T hotkey-overlay-title="[Terminal]" { spawn-sh "smart-terminal"; }
    Alt+T hotkey-overlay-title="[Terminal]" { spawn-sh "smart-terminal"; }
    Mod+S hotkey-overlay-title="[Start]" { spawn "niri-launcher"; }
    Mod+Z hotkey-overlay-title="-= zen =-" { spawn "niri-zen"; }
    Mod+Q repeat=false hotkey-overlay-title="overview" { toggle-overview; }
    
    Mod+Shift+N hotkey-overlay-title="[Notifications]" { spawn-sh "swaync-client -t -sw"; }
    
    // temp:
    Mod+Shift+R hotkey-overlay-title="!! waybar reload !!" { spawn-sh "killall -SIGUSR2 waybar"; }

    // The quit action will show a confirmation dialog to avoid accidental exits.
    Ctrl+Alt+Delete hotkey-overlay-title="[Eject]" { quit; }

    // Powers off the monitors. To turn them back on, do any input like moving the mouse or pressing any other key.
    Mod+Shift+L hotkey-overlay-title="[Lights off]" { power-off-monitors; }

    // app control:
    Alt+F4 repeat=false { close-window; }
    Mod+W repeat=false hotkey-overlay-title="close/kill" { close-window; }

    // focus moves:
    Mod+Left hotkey-overlay-title="< focus <" { focus-column-left; }
    Mod+Right hotkey-overlay-title="> focus >" { focus-column-right; }
    Mod+Up   hotkey-overlay-title="^ focus ^"  { spawn "niri-navigate" "up"; }
    Mod+Down hotkey-overlay-title="v focus v"  { spawn "niri-navigate" "down"; }

    // shoves:
    Mod+Shift+Left hotkey-overlay-title="< shove <" { consume-or-expel-window-left; }
    Mod+Shift+Right hotkey-overlay-title="> shove >" { consume-or-expel-window-right; }
    Mod+Shift+Up hotkey-overlay-title="^ shove ^" { move-window-to-workspace-up; }
    Mod+Shift+Down hotkey-overlay-title="v shove v" { move-window-to-workspace-down; }

    // workspace shoves:
    Mod+Ctrl+Up  { move-workspace-up; }
    Mod+Ctrl+Down { move-workspace-down; }
    
    // tabbed columns:
    Mod+Shift+Tab hotkey-overlay-title="toggle tabbed" { toggle-column-tabbed-display; }
    Mod+Tab  hotkey-overlay-title="cycle tabbed"  { focus-window-down-or-top; }
    
    // navigating with the mouse
    // You can bind mouse wheel scroll ticks using the following syntax.
    // These binds will change direction based on the natural-scroll setting.
    //
    // To avoid scrolling through workspaces really fast, you can use
    // the cooldown-ms property. The bind will be rate-limited to this value.
    // You can set a cooldown on any bind, but it's most useful for the wheel.
    Mod+WheelScrollDown      cooldown-ms=50  { focus-column-right; }
    Mod+WheelScrollUp        cooldown-ms=50  { focus-column-left; }
    Mod+Shift+WheelScrollDown cooldown-ms=50  { focus-workspace-down; }
    Mod+Shift+WheelScrollUp   cooldown-ms=50  { focus-workspace-up; }

    // jumping workspaces:
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
}
